<h1>Reddit Search</h1>

<form onsubmit={{action "searchForEvents"}}>
  {{input type="text" value=subreddit}}
  <button type="submit">Search</button>
</form>
<br>
<p>Check your email - {{unread-email email=email onclick=(action "markAsRead")}}</p>
{{outlet}}
